@import "tailwindcss";
@theme{
    --color-cheko-pink: #F4CBDF;
    --color-cheko-black: #111216;
    --color-cheko-dark-background: #111315;
    --color-cheko-mint: #D0EAE3;
    --color-cheko-lavender: #D1D1EF;
    --color-cheko-light-mauve: #E7DEE3;
    --color-cheko-light-blue: #CDDFEC;
    --color-cheko-light-pink: #FCEFF5;
    --color-cheko-teal: #599887;
    --color-cheko-search-gray: #3F4142;
    --color-cheko-card-gray: #2A2C2D;
}